# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# macOS junk
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows junk
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary/unsaved files (Office, editors)
~*
*.tmp
*.swp
*.swo

# Virtual environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# VSCode
.vscode/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
.env.*

# pytest-watcher
ptw.log

# pyright
pyrightconfig.json

# Sphinx documentation
docs/_build/

# Editable installs
*.egg-info/
.installed.cfg
*.egg
.eggs/

# Dist
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.cache/
*.manifest
*.spec
